.sub-header-container {
  height: 60px;

  .sub-header {
    display: flex;
    align-items: center;
    color: #192a56;
    padding: 0 15px;

    .photo {
      padding-top: 5px;

      img {
        width: 50px;
        border-radius: 50px;
      }
    }

    .info-usuario {
      width: 100%;
      padding: 10px 15px;

      h3 {
        font-size: 1em;
        margin: 0;
        display: block;
        font-weight: bold;
      }

      .box-info {
        font-size: 0.7em;
        display: inline-flex;
        align-items: center;
        margin: 0;

        ion-icon {
          font-size: 15px;
        }

        .icon-ra {
          margin-left: 20px;
        }
      }
    }
  }
}

.page-header-logo {
  img {
    width: 50px;
  }
}

.info-sub {

  .title {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 1em;
    padding: 10px 0;

    .icon {
      font-size: 20px;
      margin-right: 4px;
    }
  }
}

.info-locker {
  width: 100%;

  .locker-content {
    flex-direction: column;

    .icon {
      font-size: 2em;
      color: #192a56;
      width: 100%;
      margin-bottom: 4px;
    }

    h2 {
      margin: 0;
      text-transform: uppercase;
      text-align: center;
      width: 100%;
      font-size: 0.8em;
    }

    span {
      margin-bottom: 20px;
      font-size: 1.5em;
      font-weight: bold;
      color: #192a56;
      width: 100%;
      text-align: center;
    }
  }
}

swiper-container {
  width: 100%;
  height: calc(100vh - 180px);
  --swiper-pagination-color: #192a56;
  --swiper-navigation-color: #000;
  --swiper-pagination-bullet-inactive-color: lightslategray;
  border-radius: 10px;

  swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;

    .sub-header-container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      ion-icon {
        font-size: 25px;
        color: #192a56;
      }

      .title {
        width: 100%;
        max-width: 700px;
        margin: 0;
        font-size: 1em;
      }
    }
  }
}

.qr-code-container {
  #canvas-qr {
    border-radius: 10px;
  }
}

.slide-box {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  color: #192a56;
  .locker-content {
    justify-content: center;
    ul {
      padding: 0;
      list-style: none;
      text-align: center;
      ion-icon {
        font-size: 40px;
      }
      h2 {
        font-size: 1em;
        margin: 0;
      }
      p {
        font-size: 1.5em;
        margin: 0 0 25px;
      }
    }
  }
}
