<ion-header>
  <div class="locker-content page-header">
    <h1 class="title-header">Sobre</h1>
  </div>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="sobre-container">
    <img src="assets/imgs/brasao-unibra-azul.png" alt="UB Locker" class="logo-sobre" />

    <h2>Bem-vindo ao UB Locker</h2>

    <p>
      O UB Locker é uma solução inteligente para facilitar o armazenamento de pertences dos alunos e visitantes da
      biblioteca da UNIBRA.
    </p>

    <p>
      Com nosso sistema, os usuários podem guardar seus itens com segurança nos armários disponíveis antes de acessarem
      a biblioteca, utilizando um QR Code gerado automaticamente.
    </p>

    <p>
      O objetivo é otimizar o tempo, garantir segurança e modernizar a experiência dentro do campus.
    </p>

    <div class="info-app">
      <strong>Versão:</strong> 1.0.0<br />
      <strong>Desenvolvido por:</strong> TI Desenvolvimento
    </div>
  </div>
</ion-content>